__pycache__/
build/
*.egg-info/
*.so

tmp*
trial*/


data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
.DS_Store
workspace/log_ngp.txt
.idea
models/
*.log
dist

assets/*
!assets/user/
assets/user/*
!assets/user/user_ccy/
!assets/user/user_ccy/**

data/*
!data/audios/
data/audios/*
!data/audios/male.wav
!data/audios/female.wav
!data/user_ccy/
!data/user_ccy/**

FCVG/
.vscode
.git
*.zip
wav2lip/results
*.mov
*.aac
temp*
